# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# User-specific files (Windows)
.vs/
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]DebugLocal/
[Dd]Release/
[Dd]ReleasePublic/
[Dd]ReleaseLocal/

# ASP.NET Core files
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
