@model FrizerskiSalon_VSITE.Models.Reservation

<h2>Kreiraj novu rezervaciju</h2>

<form asp-controller="UserPanel" asp-action="CreateReservation" method="post">
    <div class="form-group">
        <label for="CustomerName">Ime i prezime</label>
        <input asp-for="CustomerName" type="text" class="form-control" required />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ServiceId">Odaberi uslugu</label>
        <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.Services">
            <option value="">Odaberite uslugu</option>
        </select>
        <span asp-validation-for="ServiceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ReservationDate">Datum</label>
        <input asp-for="ReservationDate" type="date" class="form-control" required />
        <span asp-validation-for="ReservationDate" class="text-danger"></span>
    </div>

    
    <button type="submit" class="btn btn-primary">Rezerviraj</button>
</form>

<a asp-action="Reservations" class="btn btn-secondary mt-3">Povratak na rezervacije</a>
