@{
    ViewData["Title"] = "Korisnički Panel";
}

<h1>Dobrodošli u korisnički panel!</h1>
<p>Ovdje možete pregledati svoje rezervacije i zakazati novi termin.</p>

<a href="/UserPanel/Reservations" class="btn btn-primary">Moje rezervacije</a>
<a href="/UserPanel/CreateReservation" class="btn btn-success">Dodaj novu rezervaciju</a>

